{% extends "Shop/base.html" %}

{% block content %}


{% for prod in product %}
<div class="product">
    {% if prod.imgproduct_set.all %}
            <img class="product_img" src="{{ prod.imgproduct_set.first.img.url }}" alt="Зображення поста">
    {% endif %}
    <p id="product_txt">{{ prod.name }}</p>
    <p id="product_txt">{{ prod.description|truncatewords:5 }}</p>
    <p id="product_txt">{{ prod.price }}</p>
    <a id="teg" href="{% url 'product' id=prod.id %}">Відкрити</a>


</div>
{% endfor %}


<div class="post">
                    <img id="avat" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9U-3M3-sIWxet8KCrERzfSPzn-XF8WwOf8w&usqp=CAU">
                    <h2 id="user">SeDiMaT</h2>
                    <br>

                    <p id="teg">Нейронка</p>
                    <p id="teg">Замки</p>
                    <p id="teg">Зображення</p>
                    <img id="post_img" src="https://img2.joyreactor.cc/pics/post/%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D1%8B%D0%B5-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-art-castle-Oliver-Beck-8198605.jpeg">
                    <a id="teg" href="#">Коментар</a>
                    <p id="teg">20.11.23 17:10</p>
                    <br>


                </div>

                <div class="post">
                    <img id="avat" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9U-3M3-sIWxet8KCrERzfSPzn-XF8WwOf8w&usqp=CAU">
                    <h2 id="user">SeDiMaT</h2>
                    <br>
                    <p id="teg">Нейронка</p>
                    <p id="teg">Замки</p>
                    <p id="teg">Зображення</p>
                    <img id="post_img" src="https://img2.joyreactor.cc/pics/post/%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D1%8B%D0%B5-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-art-castle-Oliver-Beck-8198607.jpeg">
                    <a id="teg" href="#">Коментар</a>
                    <p id="teg">20.11.23 17:10</p>
                    <br>

                </div>

                <div class="post">
                    <img id="avat" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9U-3M3-sIWxet8KCrERzfSPzn-XF8WwOf8w&usqp=CAU">
                    <h2 id="user">SeDiMaT</h2>
                    <br>
                    <p id="teg">Нейронка</p>
                    <p id="teg">Замки</p>
                    <p id="teg">Зображення</p>
                    <img id="post_img" src="https://img2.joyreactor.cc/pics/post/%D0%BA%D1%80%D0%B0%D1%81%D0%B8%D0%B2%D1%8B%D0%B5-%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B8-art-castle-Oliver-Beck-8198604.jpeg">
                    <a id="teg" href="#">Коментар</a>
                    <p id="teg">20.11.23 17:10</p>
                    <br>

                </div>



{% endblock %}