{% extends "Shop/base.html" %}

{% block content1 %}

{% if user.is_authenticated %}

<img class="avatar" src="{{ info.avatar.url }}" width="100">
<p class="form-label" >{{ user.username }}</p>
<a href="{% url 'logout' %}" id="del_bask">Вийти</a>

{% if request.user.is_staff %}
    <p class="form-label" >Адмін</p>
{% endif %}
<br>
<p class="form-label">Телефон: {{ info.phone }}</p>
<p class="form-label">Адреса: {{ info.address }}</p>

{% else %}

<form class="navbar-form navbar-right" method="POST" role="form" action="{% url 'login' %}">
    {% csrf_token %}

    <label for="username0" class="form-label">Ваш нікнейм</label>
    <input type="text" class="form-control" name="username" id="username0" placeholder="Ваш нікнейм">

    <label for="password0" class="form-label">Пароль</label>
    <input type="password" class="form-control" name="password" id="password0" placeholder="Пароль">

    <button type="submit" class="rega">Війти</button>
</form>


<h2>{{ a }}</h2>

<form enctype="multipart/form-data" action="{% url 'user' %}" method="POST">
    {% csrf_token %}
    <label for="username" class="form-label">Ваш нікнейм</label>
    <input type="text" class="form-control" name="username" id="username" placeholder="Ваш нікнейм">

    <label for="email" class="form-label">Емейл</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Електрона пошта">

    <label for="password1" class="form-label">Пароль</label>
    <input type="password" class="form-control" name="password1" id="password1" placeholder="Пароль">

    <label for="password2" class="form-label">Підтвердження</label>
    <input type="password" class="form-control" name="password2" id="password2" placeholder="Підтвердження">

    <label for="avatar0" class="form-label">Аватарка</label>
    <input type="file" class="form-control" name="avatar" id="avatar0" placeholder="Аватарка">

    <label for="phone0" class="form-label">Телефон</label>
    <input type="text" class="form-control" name="phone" id="phone0" placeholder="Телефон">

    <label for="address0" class="form-label">Адреса</label>
    <input type="text" class="form-control" name="address" id="address0" placeholder="Адреса">

    <button type="submit" class="rega">Зареєструватись</button>
</form>

{% endif %}

{% endblock %}

{% block content %}

<p id="product_txt_big">Кошик</p>

<table class="table_basket">
        <tr id="tr2">
            <td>Назва товару</td>
            <td>Кількість</td>
            <td>Ціна</td>
            <td>Вартість</td>

        </tr>
        {% for b in basket %}
            <tr id="tr1">
                <td>{{ b.product_name }}</td>
                <td>{{ b.quantity }}</td>
                <td>{{ b.price }}</td>
                <td>{{ b.all_price }}</td>
                <td><a id="del_bask" href="{% url 'basket_del' id=b.id %}">Видалити</a></td>

            </tr>
        {% endfor %}
</table>
<h2 id="sum_left"> Закальна вартість: {{ sum }} Грн</h2>


{% if request.user.is_staff %}
<div class="form_product">

   <form enctype="multipart/form-data" action="{% url 'user' %}" method="POST">
    {% csrf_token %}
    <label for="name" class="form-label">Назва товару</label>
    <input type="text" class="form-control0" name="name" id="name" placeholder="Назва товару">

    <label for="description" class="form-label">Опис товару</label>
    <textarea class="text_area1" name="description" id="description" placeholder="Опис товару"></textarea>

    <label for="amount" class="form-label">Кількість</label>
    <input type="number" class="form-control0" name="amount" id="amount" value="1">

    <label for="price" class="form-label">Ціна</label>
    <input type="text" class="form-control0" name="price" id="price" placeholder="Ведіть ціну" step="1">

    <label for="category4" class="form-label">Категорія</label>
    <br>
    <select name="category" id="category4" multiple>
            {% for cat in category %}
            <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
    </select>
    <br>

    <label for="imgprod" class="form-label">Зображення</label>
    <div id="test">
    <input type="file" class="form-control1" name="img" id="imgprod">
    </div>
    <br>
    <button type="button" onclick="addInput()" id="knopka" >Добавит поле</button>

    <button type="submit" class="rega">Добавити Товар</button>
</form>

</div>

{% endif %}

{% endblock %}